/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  color:#333;
  font-size: 24px;
  font-style: small arial, senrif;
  line-height: 32px;
  border:1px solid black;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom:20px;
}

#left {
  float:left;
  width:33.3%;
  border:2px solid pink;
  height: 50px;
}

#middle {
  float:left;
  width:33.3%;
  border:2px solid yellow;
  height: 450px;
}

#right {
  float:left;
  width:33.3%;
  border:2px solid green;
  height: 50px;
}

#full {
  padding-top: 15px;
  border:2px solid purple;
  clear:both;
}

#division {
  border:2px solid blue;
  padding: 17px 0px;
  margin:30px 10px;
}

aside {
  float:left;
  border:1px;
  background-color: orange;
  margin:30px 40px 10px 37px;
  height: 80px;
  padding-top: 15px;
  width: 110px;
  height: 100px;
}

footer {
  clear:both;
  border:1px solid grey;
  padding: 15px 0px;
}
